.second{
    width:100%;
    height:800px;
    background-size:cover;
    background-position:center;
    position:relative;
    margin:auto;
}

.second::before{
    content:"";
    position:absolute;
    top:0;
    left:0;

    width:1200px;
    height:800px;

    background:rgba(1, 60, 64, 0.7);
    width:100%;
}

.second-container{
    position:relative;
    width:1200px;
    margin:auto;

    padding:60px 20px;
    display:flex;

    justify-content:space-between;
    align-items:center;
}

.second-left{
    width:500px;
    color:white;
}

.second-left p{
    width:500px;
    font-size:16px;
}

.second-left h1{
    font-size:35px;
    line-height:1.4;
}

.second-left span{
    background:#f4b400;
    color:black;
    padding:4px 8px;

    border-radius:4px;
}

.second-left p{
    margin-top:20px;
    color:white;
    font-size:18px;
}

.second-buttons{
    margin-top:30px;
    display:flex;
    gap:20px;
}

.second-call-btn{
    width:250px;
    display:flex;
    align-items:center;

    gap:10px;
    border:none;
    padding:8px 18px 8px 20px;

    border-radius:30px;
    font-weight:600;

    cursor:pointer;
}

.second-whatsapp-btn{
    width:250px;
    background:#25D366;
    
    display:flex;
    align-items:center;
    gap:10px;
    border:none;
    padding:8px 18px 8px 20px;


    border-radius:30px;
    font-weight:600;
    cursor:pointer;
}

.second-form-box{
    width:380px;
    background:white;
    padding:40px;


    border-radius:20px;
    margin-top:50px;
    position: relative;
}

.second-form-box h3{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    
}

form input,
form select,
form textarea{
    padding:12px;
    border:1px solid #ccc;


    border-radius:6px;


}

.mobile-row{
    display:flex;
    gap:10px;


}

textarea{
    height:80px;
}

.submit-btn{
    background:#1a56db;
    color:white;
    border:none;
    padding:14px;
    border-radius:30px;


    font-weight:bold;
    cursor:pointer;
}

.yellow-div{
    position:absolute;
    height:150px;
    width:480px;


    background: rgba(255, 211, 57, 1);

    right:0;
    top:38px;
    border-radius: 20px;
    right:-11px;
    
}

.yellow-div-box{
    position: relative;
}


/*@media (max-width:1024px){
  .second-container{
    width:90%;
  }
  .second-left{
    width:45%;
  }
  .second-left p{
    width:100%;
  }
  .second-form-box{

    padding:30px;
    width:340px;
    
  }
  .yellow-div{
    width:420px;
  }
  .second-call-btn{
    width:280px;
    gap:5px;
  }
  .telephone{
    width:40px;
    height:40px;
  }
  .whatsapp{
    width:40px;
    height:40px;
  }

}



@media (max-width:768px){
  .second{
    height:auto;
    padding-bottom:40px;
  }
  .second-container{

    flex-direction:column;
    align-items:center;
    gap:40px;
  }
  .second-left{
    width:100%;
    text-align:center;
  }
  .second-left h1{

    font-size:32px;
  }
  .second-buttons{
    justify-content:center;
    flex-wrap:wrap;
  }
  .second-form-box{
    width:100%;
    max-width:420px;
  }
  .yellow-div{

    width:100%;
    left:0;
  }

}



@media (max-width:480px){
  .second::before{
       height:1110px; 
    }
  .second-left h1{
    font-size:26px;
  }
  .second-left p{
    font-size:16px;
  }
  .second-buttons{
    
    align-items:center;
    flex-direction:column;
  }
  .second-call-btn,
  .second-whatsapp-btn{
    width:100%;
    justify-content:center;
  }
  .mobile-row{
    flex-direction:column;
  }
  .second-form-box{
    padding:5px 5px;
    margin-left: -5px;
  }
  .yellow-div{
    height:100px;
    width:350px;
    margin-left: -17px;
  }

}*/