.thirteen-section{
    width:100%;
    height:920px;
    display:flex;
    flex-direction: column;
    background: rgba(211, 211, 211, 1);
    padding-top: 20px;
    align-items: center;
}
.thirteen-container{
    width:100%;
    display: flex;
    justify-content: center;
    gap:10px;
}
.thirteen-container-1{
    width:25%;
    padding: 15px 15px;
    
    background-color: white;
    
}
.thirteen-package{
    display: flex;
    flex-direction: column;
}
.thirteen-prize-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thirteen-container-2{
    width:25%;
    padding: 15px 15px;
    background-color: white;
}
.thirteen-container-3{
    width:25%;
    padding: 15px 15px;
    background-color: white;
}
.thirteen-features{
    border-top: 1px solid black;
    overflow-y: auto;
    height:360px;
}
.thirteen-features ul{
    list-style: none;
}
.thirteen-button{
    width:150px;
    height:50px;
    border-radius: 50px;
    border: 1px solid rgba(11, 86, 228, 1);
    background-color:  rgba(11, 86, 228, 1);
    margin-left:80px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    padding-top: 15px; 
    gap:6px;
    color:white;
}
