.twelve-section{
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    background: rgba(110, 83, 226, 1);
    align-items: center;
    padding-top: 40px;
    
 
}
.twelve-heading{
    text-align: center;
    margin: 0;
    color:white;
}
.twelve-para{
    text-align: center;
    color: white;
}
.twelve-button{
    width:200px;
    height: 50px;
    background: rgba(244, 250, 254, 1);
    color:blue;
    border-radius: 50px;
    border: 1px solid rgba(52, 100, 253, 1);
    margin-top: 15px;
}