.eleven-section{
    width:100%;
    height:1025px;
    
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}
.eleven-top{
    display: flex;
    width:100%;
    gap:20px;
    justify-content: center;
    padding-bottom: 20px;
    

}
.eleven-container{
    width:25%;
    border: 1px solid black;
    background: linear-gradient(to bottom, rgba(85,80,127,1), rgba(81,87,102,1));
    padding:20px 20px;
    border-radius: 5px;;
}
.eleven-container-top{
    display:flex;
    justify-content: space-between;
    padding-bottom:20px ;
    
}
.eleven-container-top p{
    color: rgba(255, 255, 255, 1);

}

.eleven-middle{
    display: flex;
    gap:20px;
    padding-bottom: 20px;
    justify-content: center;
}
.eleven-lower{
    display: flex;
    gap:20px;
    padding-bottom: 20px;
    justify-content: center;
    

}

.eleven-button{
    width:200px;
    height:50px;
    background: rgba(244, 250, 254, 1);
    border-radius: 50px;
    border: 1px solid rgba(52, 100, 253, 1);
    color:rgba(52, 100, 253, 1);
    margin-bottom: 20px;

}