.sixteen-section{
    width:100%;
}

.sixteen-section-left{
    width:20%;
}

.sixteen-section-middle-1{
    width:20%;
}

.sixteen-section-middle-2{
    width:20%;
}


.sixteen-section-right{
    width:20%;
}